extends layout 

block content 
    h1 Categories
    if categories.length > 0
        ul 
            for category in categories 
                li 
                    a(href=category.url)= category.name 
    else 
        p There are no categories