doctype html
html
  head
    title Inventory App
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width:device-width,initial-scale:1.0')
  body
    nav
      a(href='/item/') Home
      a(href='/category/') Categories
      a(href='/item/create/') Create an item
      a(href='/category/create/') Create a category
    block content
